/* Color variables */
:root {
    --slate: #EFEFEF;
    --darkslate: #1F2D2E;
    --teal: #D4EDEA;
    --peach: #C57B58;
    --maroon: #AB6D69;
}

html {
    background-color: var(--slate);
    overflow-x: hidden;
}

/* NAVBAR BEGINS */

nav {
    z-index: 9999;
    width: 100%;
    height: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.basic-nav {
    list-style: none;
    margin: 0 4rem 0 0 ;
    user-select: none;
}

.basic-nav li {
    position: relative;
    display: inline;
    color: var(--slate);
    letter-spacing: .15rem;
    margin: 0 1.5rem;

}

.basic-nav a {
    position: relative;
    text-decoration: none;
    color: var(--slate);
    padding-bottom: 3px;
}

.basic-nav a:after {
    content: '';
    position: absolute;
    left: 25%;
    bottom: -7px;
    width: 0;
    height: 4px;
    transform: scale(0);
    transition: linear 150ms;
    background-color: var(--maroon);
    z-index: 9999;
}

.basic-nav a:hover:after {
    width: 50%;
    transform: scale(1);
}

/* NAVBAR ENDS */

/* EXPLORE BLOCK BEGINS */

.explore {
    background-color: var(--darkslate);
    height: 20rem;
}

.explore-title {
    font-family: 'Noto Serif TC', serif;
    font-weight: 400!important;
    color: var(--slate);
    letter-spacing: .1rem;
}

.explore-button {
    font-family: 'Open Sans', sans-serif;
    padding: .75rem 3rem;
    background-color: var(--maroon);
    text-decoration: none;
    color: var(--slate);
    letter-spacing: .2rem;
    text-align: center;
}

.explore-button:hover {
    color: var(--darkslate);
}

/* EXPLORE BLOCK ENDS */

/* INDEX TEXTBOX BEGINS */

.index-textbox {
    background-image: url(../imgs/index_background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
}

.index-banner {
    background-image: url("../imgs/index_headshot.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 75%;
}

.index-intro {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    letter-spacing: .1rem;
}

/* INDEX TEXTBOX ENDS */

/* PORTFOLIO DEMO BEGINS */

.demo-img {
    height: 100%;
    width:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
    transition: 250ms linear;
}

.demo-img:hover {
    filter: brightness(100%);
}

.demo-one {
    background-image: url("../imgs/demo_imgs/demo_1.jpg");

}

.demo-two {
    background-image: url("../imgs/demo_imgs/demo_2.jpg");
}

.demo-three {
    background-image: url("../imgs/demo_imgs/demo_3.jpg");
}

.porfolio-demo-title {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal!important;
    font-size: 2rem;
    color: var(--slate);
    letter-spacing: .2rem;
}

.porfolio-demo-title:after {
    content: '';
    position: absolute;
    left: 25%;
    bottom: -10px;
    width: 50%;
    height: 5px;
    background-color: var(--peach);
}

/* PORTFOLIO DEMO ENDS */

/* TESTIMONIAL BLOCK BEGINS */

.testimonial-block {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    letter-spacing: .075rem;
    background-color: var(--darkslate);
    color: var(--slate);
}

.testimonial-text {
}

.testimonial-text:before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -10px;
    position: relative;
    top: 30px;
    color: #ccc;
    font-size: 3em;
}
.testimonial-text:after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 10px;
    position: relative;
    top: 35px;
    color: #ccc;
    font-size: 3em;
}

.testimonial-footer {
    font-style: italic;
}

/* TESTIMONIAL BLOCK ENDS */

/* MAIN PAGE BANNER BEGINS */

/* The following is a workaround I'm using at the moment to solve the initial page loading issues.
   I would like to perhaps make this a little cleaner by adding a loading modal. */
#preload-1 {
    background: url(../imgs/banner_1.jpeg) no-repeat -9999px -9999px;
}

#preload-2 {
    background: url(../imgs/banner_2.jpeg) no-repeat -9999px -9999px;
}

#preload-3 {
    background: url(../imgs/banner_3.jpg) no-repeat -9999px -9999px;
}

.banner {
    background-image: url(../imgs/banner_1.jpeg);
    height: 100vh;
    width: 100vw;
    transition: 1000ms ease-out;
}

.one {
    background-image: url(../imgs/banner_1.jpeg);
    background-position: center;
    background-size: cover;
}

.two {
    background-image: url(../imgs/banner_2.jpeg);
    background-position: center;
    background-size: cover;
}

.three {
    background-image: url(../imgs/banner_3.jpg);
    background-position: center;
    background-size: cover;
}

.shadow-box {
    height: 100%;
    width: 100%;
    background-color: var(--darkslate);
    opacity: 30%;
    z-index: 1;
}

#font-logo {
    transform: translateY(-10%);
    height: 70%;
    width: auto;
    z-index: 5;
}

#font-subheader {
    bottom: 27%;
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 1rem;
    color: white;
    z-index: 5;
}

.lander-page {
    position: absolute;
    bottom: 23%;
}
/* Standardized style bar used under text on each page */
.style-bar {
    height: 1rem;
    width: 11rem;
    z-index: 5;
}

.peach {
    background-color: var(--peach);
}
/* MAIN PAGE BANNER ENDS */

/* INTRO BANNER BEGINS */

.window {
    /*width: 100vw;*/
    /*height: 100vh;*/
    height: 45rem;
    width: 100vw;
    background-color: var(--slate);
    overflow: hidden;
}

.half {
    height: 30rem;
}

.about-textbox {
    background-image: url(../imgs/brown_swoosh.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
}

.welcome-box {
    position: relative;
}

.styled-border {
    position: absolute;
    bottom: 30px;
    height: 90%;
    width: 90%;
    z-index: 10;
    border: 3px solid white;
}

.welcome-banner {
    background-image: url(../imgs/header-img.jpg);
    background-position: center;
    background-size: cover;
    border-top-right-radius: 250px;
    border-top-left-radius: 250px;
    height: 80%;
    width: 80%;
}

.welcome-text {
    font-family: 'Noto Serif TC', serif;
    font-size: 6rem;
    color: var(--darkslate);
}

.small-title {
    font-size: 3rem!important;
}

.small-text {
    font-size: 1.15rem!important;
    letter-spacing: .04rem;
    line-height: 1.8;
}

.welcome-paragraph {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.35rem;
    color: var(--darkslate);
}

#style-paragraph {
    position: relative;
    display: inline-block;
}

.intro-page {
    position: absolute;
    right: 0;
    bottom: -20%;
}

.about-page-bar {
    position: absolute;
    right: 15%;
}

.slate {
    background-color: var(--darkslate);
}

#about-img {
    width: 100%;
    height: auto;
}

/* Map image still needs some work */
#map-img {
    width: 100%;
    height: 150px;
    background-image: url("../imgs/map.jpeg");
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 1250px) {

    .index-textbox {
        display: none;
    }

}

@media only screen and (max-width: 1025px){


    /* INTRO BANNER QUERIES BEGIN */
    .welcome-text {
        font-size: 5rem;
    }

    .welcome-paragraph {
        font-size: 2rem;
    }

    .welcome-banner {
        height: 70%;
        margin-bottom: 5rem!important;
    }

    .styled-border {
        height: 80%;
        bottom: 50px;
    }
    /* INTRO BANNER QUERIES END */

    #font-logo {
        height: auto;
        width: 100%;
    }

    #font-subheader {
        font-size: 2.5rem;
        letter-spacing: .75rem;
    }
}

@media only screen and (max-width: 995px) {

    #introduction {
        display: none!important;
    }
}

@media only screen and (max-width: 700px) {
    #font-subheader {
        bottom: 35%;
        font-size: 2rem;
        letter-spacing: .35rem;
    }

    .lander-page {
        bottom: 30%;
    }
}

